<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <!-- 引用静态资源 -->
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <script th:src="@{/js/jquery-1.8.3.js}"></script>
  <script>
    $(function () {

      alert("hello thymeleaf");
    })
  </script>
</head>
<body>
  <h1>this is thymeleaf html</h1>
  <h1>展示单个数据</h1>
    <!-- 获取普通String数据 -->
    欢迎您：<span th:text="${name}"></span>
    <!-- 获取并解析html -->
    username: <span th:utext="${username}"></span>
    <input type="text" th:value="${name}">
  <h1>展示对象数据</h1>
    <ul>
      <li>id: <span th:text="${user.id}"></span></li>
      <li>name: <span th:text="${user.name}"></span></li>
      <li>age: <span th:text="${user.age}"></span></li>
      <li>bir: <span th:text="${#dates.format(user.bir, 'yyyy-MM-hh')}"></span></li>
    </ul>
  <h1>有条件展示数据</h1>
    <span th:if="${user.age} le 23" th:text="${user.name}"></span>
  <h1>展示多个数据</h1>
  <ul th:each="user, userStatus:${users}">
    <li>当前遍历的次数：<span th:text="${userStatus.count}"></span> 当前遍历的索引：<span th:text="${userStatus.index}"></span></li>
    <li>当前遍历的是否是奇数行：<span th:text="${userStatus.odd}"></span> 当前遍历的是否是偶数行：<span th:text="${userStatus.even}"></span></li>
    <li th:text="${user.id}"></li>
    <li th:text="${user.age}"></li>
    <li th:text="${user.name}"></li>
    <li th:text="${#dates.format(user.bir, 'yyyy年MM月dd日')}"></li>
    <li>集合中的总记录数：<span th:text="${userStatus.size}"></span></li>
  </ul>

  <br><br><br>

  <a th:href="@{/user/delete(id=21, name='zhangsan')}">删除</a>

  <br><br><br>
</body>
</html>