<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 的值为 dao接口 的全限定类名 -->
<mapper namespace="cn.sea.dao.UserDao">

    <!-- save -->
    <insert id="save" parameterType="cn.sea.entity.User">
        insert into t_user values(#{id}, #{name}, #{age}, #{bir})
    </insert>

    <select id="findAll" resultType="cn.sea.entity.User">
        select id, name, age, bir from t_user
    </select>
</mapper>